* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style:italic;
    font-size: small;
}
.main_box {
    background: url("jss2.jpeg");
    background-size: cover;
    height: 100vh;

}
.btn_one i{
    color: white;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar_menu {
    position: fixed;
    left: -300px;

    box-shadow: 0 0 4px rgba(246, 150, 15, 0.908);
    height: 100vh;
    width: 300px;
    background-color:rgba(182, 112, 31, 0.718); 
    transition: all 0.3s linear;

}
.sidebar_menu .logo {
    /* top: 10px; */
    line-height: 60px;
    position: absolute;
    width: 100%;
    /* line-height: px; */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    height: 60px;

}
.sidebar_menu .logo a {
    position: absolute;
    left: 80px;
    color:  wheat;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    

}
.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;


}
.sidebar_menu .btn_two i{
    font-size: 20px;
    position: absolute;
    left: 280px;
    opacity: 0;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;


}
.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;


}
.sidebar_menu .menu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}
.sidebar_menu .menu i {
    padding-right: 8px;


}
.sidebar_menu .social_media {
    color: white;
    opacity: 0.5;
    position: absolute;
    left:20% ;
    bottom: 50px;

}
.sidebar_menu .social_media i {
    padding: 0 5px;


}
#check {
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    
}
.btn_one i:hover{
    font-size: 28px;

}
.btn_two i:hover{
    font-size: 26px;

    
}
.sidebar_menu .social_media i:hover{
    /* color: white; */
    opacity: 1;
    transform: scale(1.1);

}
#check:checked ~ .sidebar_menu{
    left: 0;


}
#check:checked ~.btn_one i {
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i {
    opacity: 1;
}
